[submodule "third-party/mockturtle"]
	path = third-party/mockturtle
	url = https://github.com/lsils/mockturtle.git
	branch = master
[submodule "third-party/openevolve"]
	path = third-party/openevolve
	url = https://github.com/codelion/openevolve.git
	branch = main
